body {
  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, Sans-Serif;
  font-size: 12px;
}

body,
html,
.lightening-LighteningUi {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

// https://medium.com/appscope/designing-native-like-progressive-web-apps-for-ios-1b3cdda1d0e8
body {
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

@import 'ui/LighteningUi';
@import 'ui/GroupTable';
@import 'ui/FloorPlan';
