body {
  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, Sans-Serif;
  font-size: 12px;
}

.on,
.lightening-GroupTable-on {
  font-weight: bold;
}

.off {
  background: gray;
}

li {
  padding: 20px;
}

button {
  padding: 10px 20px;
}
