@import 'ui/LighteningUi';
@import 'ui/GroupTable';

body {
  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, Sans-Serif;
  font-size: 12px;
}

// https://medium.com/appscope/designing-native-like-progressive-web-apps-for-ios-1b3cdda1d0e8
body {
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
