.lightening-LighteningUi {
  > .lightening-FloorPlan {
    width: 100%;
    height: 100%;
  }

  > button {
    display: block;
    padding: 20px;
    font-weight: bold;
    font-size: 20px;
    margin: 20px auto;
  }

  &:fullscreen > button {
    display: none;
  }
}
